@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	var blogItems = (new List<dynamic>(CurrentPage.Children)).OrderByDescending(x => x.CreateDate);
}
<div class="body-text" ng-controller="blogController">
	@foreach (var i in blogItems)
	{
		<div class="row blog-list-item">
			<a class="twelve columns no-decoration blog-list-header" ng-click="@("post" + i.Id.ToString()) = !@("post" + i.Id.ToString())"><h3 class="blog-title">@i.Title</h3></a>
			<div class="twelve columns">
				<span class="blog-metadata">written by</span> @i.WriterName |
				<span class="blog-metadata">created at</span> @(((DateTime)i.CreateDate).ToString("d"))
				<span class="@(Math.Floor((i.UpdateDate - i.CreateDate).TotalDays) > 0 ? string.Empty : "hide")">| <span class="blog-metadata">updated at</span> @(((DateTime)i.UpdateDate).ToString("d"))</span>
			</div>
			<div class="twelve columns blog-post" ng-show="@("post" + i.Id.ToString())">
				@i.Content
			</div>
			<div class="twelve columns blog-comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES * * */
					var disqus_shortname = 'jonstodle';
					var disqus_identifier = "@i.Id.ToString()";
					var disqus_title = "@i.Title";

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function () {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</div>
		</div>
	}
</div>