@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{umbraco.library.ChangeContentType("text/xml");

var siteURL = "http://" + Request.Url.Host;
var HomePage = CurrentPage.Previous().Children.First();
var RSSFeedPubDate = HomePage.Descendants("BlogPost").OrderBy("createDate desc").First();

}<?xml version="1.0" encoding="UTF-8" ?>

<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rssdatehelper="urn:rssdatehelper">
	<channel>
		<title>Jon Stødle</title>
		<link>@siteURL</link>
		<pubdate>@RSSFeedPubDate.UpdateDate.ToString("r")</pubdate>
		<generator>Umbraco</generator>
		<description>Jon Stødle's soap box</description>
		<language>en</language>
		@{

			foreach (var release in HomePage.Descendants("BlogPost").OrderBy("createDate desc").Take(10))
			{
				<item>
					<title>@release.Name</title>
					@Html.Raw("<link>")@siteURL@Html.Raw(release.Url)@Html.Raw("</link>")
					<description></description>
					<pubdate>@release.createDate.ToString("r")</pubdate>
					<guid>@siteURL@Html.Raw(release.Url)</guid>
				</item>
			}
		}

	</channel>
</rss>