@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	var blogItems = (new List<dynamic>(CurrentPage.Children)).OrderByDescending(x => x.CreateDate);
}
<div class="body-text" ng-controller="blogController">
	@foreach (var i in blogItems)
	{
		<div class="row blog-list-item">
			<a class="twelve columns no-decoration blog-list-header" href="@i.Url"><h3 class="blog-title">@i.Title</h3></a>
			<div class="twelve columns">
				<span class="blog-metadata">written by</span> @i.WriterName |
				<span class="blog-metadata">created at</span> @(((DateTime)i.CreateDate).ToString("d"))
				<span class="@(Math.Floor((i.UpdateDate - i.CreateDate).TotalDays) > 0 ? string.Empty : "hide")">| <span class="blog-metadata">updated at</span> @(((DateTime)i.UpdateDate).ToString("d"))</span>
			</div>
		</div>
	}
</div>