@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
	var projects = new List<dynamic>(CurrentPage.Children);
	projects = projects.OrderBy(x => x.ProjectName).ToList();
}
<div class="body-text">
	<h5 class="text-center">@(((string)CurrentPage.Text).ToUpper())</h5>

	@foreach (var item in projects)
	{
		<div class="row">
			<div class="twelve columns project-list-item-container">
				<a href="@item.Url">
					<div class="project-list-item">
						<img class="project-list-item-image" alt="@item.Title" src="@item.GetCropUrl("banner", "App badge")" />
						<h2>@item.Title</h2>
					</div>
				</a>
			</div>
		</div>
	}
</div>
